<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.zeroxlab.benchmark">
    <application
    android:debuggable="true"
    >
	<activity
	android:name="Benchmark"
	android:label="0xBenchmark"
        android:icon="@drawable/icon"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
	</intent-filter>
	</activity>

	<activity
	android:name="CanvasTester"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	</intent-filter>
	</activity>
	<activity
	android:name="org.zeroxlab.kubench.Kubench"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	</intent-filter>
	</activity>
	<activity
	android:name="org.zeroxlab.graphics.DrawCircle"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	</intent-filter>
	</activity>

	<activity
	android:name="org.zeroxlab.benchmark.GC"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	</intent-filter>
	</activity>

	<activity
	android:name="org.zeroxlab.benchmark.Report"
	android:screenOrientation="portrait"
	>
	<intent-filter>
	<action android:name="android.intent.action.MAIN" />
	</intent-filter>
	</activity>

    </application>
</manifest>

